body {
   background: #0099ff;
}
input[type=text] {
   background-color: #66CCFF;
   border: solid 1px #0000CC;
   color: #0000CC;
   height: 25px;
   padding-left: 10px;
   width: 500px;
}
input[type=button], input[type=submit] {
   background-color: #66CCFF;
   border: solid 1px #0000CC;
   color: #0000CC;
   height: 28px;
   width: 65px;
}
input[type=text], input[type=button], input[type=submit] {
   border-radius: 5px;
   font-family: Futura, Arial;
   font-weight: bold;
   font-size: 12pt;
   cursor: pointer;
}
p {
   margin: 0px 0px 5px 0px;
}
form {
   margin-bottom: 20px;
}
.platform {
   margin-left: auto;
   margin-right: auto;
   width: 800px;
   text-align: center;
   border-color: #66CCFF;
   border-radius: 20px;
   border-width: 2px;
   border-style: solid;
   padding: 4px;
   color: #0000CC;
   font-family: Futura, Arial;
   font-size: 18pt;
   font-weight: bold;
}
.results {
   margin-left: auto;
   margin-right: auto;
   width: 550px;
   text-align: left;
}
.rlabel {
   width: 225px;
   text-align: right;
   display: inline-block;
}
.rvalue {
   background-color: #66CCFF;
   border-radius: 5px;
   border: solid 1px #0000CC;
   padding-left: 3px;
   padding-right: 3px;
   margin-left: 5px;
}
